@import 'tailwindcss';
@import './extension.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

h1 {
    @apply text-5xl sm:text-6xl font-bold mb-4 font-mono;
}
h2 {
    @apply text-4xl font-bold mb-4 font-mono;
}
h3 {
    @apply text-2xl font-bold mb-4 font-mono;
}
h4 {
    @apply text-xl font-bold mb-4 font-mono;
}
a {
    @apply text-blue-600 dark:text-blue-500;
}
p {
    @apply mb-4;
}
hr {
    @apply border-stone-100 dark:border-stone-800 mb-4;
}
header {
    @apply border-b border-stone-100 dark:border-stone-800 mb-4;
}
kbd {
    @apply px-2 py-1.5 font-semibold text-stone-100 bg-stone-800 rounded-lg;
}
body {
    @apply text-stone-800 text-base leading-relaxed;
    @apply dark:bg-stone-900 dark:text-stone-200;
}
mark {
    @apply text-blue-600 bg-white;
    @apply dark:text-blue-500 dark:bg-stone-900;
}
svg {
    @apply inline;
}
td, th {
    @apply py-2 px-4 border-b border-solid border-stone-50 text-start dark:border-stone-800;
}
th {
    @apply font-normal text-stone-500;
}
ol, ul, menu {
    @apply list-disc list-inside;
}
li {
    @apply pb-2;
}
input, textarea, select {
    @apply appearance-none text-stone-800 dark:text-stone-100 p-4 border border-solid border-stone-100 text-start dark:border-stone-700 rounded mb-4;
}
label {
    @apply pb-2 text-stone-500 dark:text-stone-400 text-xs;
}
section {
    @apply dark:bg-stone-900 pt-8 pb-4 border-b border-solid border-stone-100 dark:border-stone-800;
}
article {
    @apply mb-4 p-4 rounded-[1rem] shadow-lg dark:border border-solid border-stone-100 dark:border-stone-800 flex flex-col;
}
article>header {
    @apply bg-stone-50 p-4 rounded-t-[1rem] -mt-4 -mx-4 mb-4 dark:bg-stone-800;
    @apply border-b border-solid border-stone-100 dark:border-stone-800;
}
article>footer {
    @apply bg-stone-50 p-4 rounded-b-[1rem] -mb-4 -mx-4 mt-4 dark:bg-stone-800;
    @apply border-t border-solid border-stone-100 dark:border-stone-800;
}
hgroup>h1,h2,h3,h4 {
    @apply mb-2;
}
hgroup>p {
    @apply text-stone-500 dark:text-stone-400;
}
.stone-border {
    @apply border-solid border-stone-200 dark:border-stone-800;
}
.stone-color {
    @apply text-stone-500 dark:text-stone-400;
}
.stone-color-hover {
    @apply hover:text-stone-900 hover:dark:text-stone-100;
}
.stone-color-light-bg {
    @apply text-stone-800;
}
.stone-background {
    @apply bg-stone-50 dark:bg-stone-800;
}
.stone-stroke {
    @apply stroke-stone-600 dark:stroke-stone-500;
}
.blue {
    @apply text-blue-600 dark:text-blue-500 stroke-blue-600 dark:stroke-blue-500;
}
.chapter {
    @apply text-stone-500 text-xs font-semibold uppercase;
}
.emerald-pill {
    @apply border-emerald-500 stroke-emerald-500 bg-emerald-50;
}
.red-pill {
    @apply border-red-500 stroke-red-500 bg-red-50;
}
:root {
--font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
--icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}
select::-ms-expand {
    border: 0;
    background-color: transparent
}
select:not([multiple],[size]) {
    padding-inline-start:1rem;
    padding-inline-end:2.5rem;
    background-image: var(--icon-chevron);
    background-position: center right .75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat
}
select[multiple] option:checked {
    @apply bg-stone-50 dark:bg-stone-800;
}
